section{
    border-color: white;
    
    article{
        border-radius: 50px;
        border-color: white;
        background-color: black;
        color: white;
    }
}

.centrar{
    text-align: center;
}

.color-white{
    color: white;
}

.centrar{
    text-align: center;
}

.fondo-negro{
    background-color: black;
}